@model CoffeeMenu

<style>
	button {
		color: white;
		background-color: rgb(186, 124, 93);
		padding: 9px 26px;
		font-family: Roboto;
		border: none;
		border-radius: 2px;
		transition: box shadow 0.15s;
	}
</style>


<div class="col-sm-12 col-md-4 col-xl-4 ">
	<div class="card mb-4" style="width: 18rem; margin-left:90px;">
		<img src="@Model.CoffeeMenuUrl" class="card-img-top" alt="..." width="286px" height="205px" />
		<div class="card-body">
			<h5 class="card-title">@Model.CoffeeMenuName</h5>
			<p class="card-text">@Model.CoffeeMenuDescription</p>
			<p class="card-text">@Model.CoffeeMenuPrice $</p>
			<a style="background-color: rgb(186, 124, 93);" asp-controller="Order" asp-action="Add2" asp-route-name="@Model.CoffeeMenuName" class="btn" onclick="myFunction()"><i class="fa-solid fa-cart-shopping"></i> Add To Order</a>
		</div>
	</div>
</div>


<script>

	function myFunction() {
		alert(' Order Added !')
	}
</script>



